@import "../abstract/_variables.scss";

.content__container {
    width: 50%;

    .content {
        color: $text-color;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
        max-width: 500px;

        .main__title {
            font-size: 111px;
            margin-bottom: 44px;
        }

        .secondary__title {
            font-size: 39px;
            margin-bottom: 30px;
        }

        .text__content {
            font-weight: 400;
            font-size: 28px;
            margin-bottom: 65px;
        }

        .span__content {
            text-align: start;
            font-size: 29px;
            margin-bottom: 30px;
        }

        .span__content--status {
            text-align: start;
            font-size: 26px;
            margin-bottom: 25px;
            width: 100%;
        }

        .span__content--first-page {
            margin-bottom: 66px;
            text-align: center;
        }
    }
}

@media screen and (max-width: 1030px) {
    .content__container {
        display: flex;
        flex-direction: column;

        .content {
            .main__title {
                font-size: 83px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .content__container {
        width: 100%;
        display: flex;
        align-items: center;

        .content {
            width: 80%;
            max-width: none;

            .main__title {
                font-size: 53px;
                margin-bottom: 25px;
            }

            .secondary__title {
                font-size: 30px;
            }

            .text__content {
                font-size: 18px;
                margin-bottom: 20px;
            }

            .span__content--status {
                font-size: 16px;
                margin-bottom: 6px;
            }

            .span__content--first-page {
                font-size: 24px;
                margin-bottom: 25px;
            }
        }
    }
}