@import "../abstract/_variables.scss";

.content__form {
    width: 100%;
    display: flex;
    gap: 25px;
    flex-direction: column;
    margin-bottom: 44px;

    .input__container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;

        .content__form__label {
            font-weight: 700;
            font-size: 26px;
            color: #000000;
        }

        .content__form__input {
            width: 100%;
            font-weight: 400;
            font-size: 27px;
            border: 1px solid rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            color: $text-color;
            padding: 2% 4%;
            box-sizing: border-box;
        }

        .content__form__input--age {
            width: 33%;
        }
    }
}

@media screen and (max-width: 768px) {
    .content__form {
        gap: 14px;
        margin-bottom: 30px;

        .input__container {
            gap: 7px;

            .content__form__label {
                font-size: 16px;
            }

            .content__form__input {
                font-size: 16px;
            }
        }
    }
}